include header
+header("arranger")

#playBar.arranger
    #miniPlayHead

.patternArrangement
    #arrangerPlayHeadCon
        #playHead
    .patternCon
        .patternInfo
            .patternLabel= "Chords"
        .patternDisplay#chordsPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Melody"
        .patternDisplay#meloPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Bass"
        .patternDisplay#bassPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Kick"
        .patternDisplay#kickPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Snare"
        .patternDisplay#snarePattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Hihat"
        .patternDisplay#chPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Perc"
        .patternDisplay#percPattDisplay

#timeLine

.configPanel.arranger
    #modifyPanel
        input#nameBox.inputBox(type="text" oninput="ChangePatternName(this.value)")
        #patternLengthLabel= "Length"
        input#lengthSlider.slider(type="range" value=2 min=1 max=4 step=0.01 oninput="ChangePatternLength(Math.round(parseFloat(this.value)))")


script.
  loadArranger();