include header
+header("arranger")

.patternArrangement
    .patternCon#chordCon
        .patternInfo
            .patternLabel= "Chords"
        .patternDisplay

    .patternCon#meloCon
        .patternInfo
            .patternLabel= "Melody"
        .patternDisplay

    .patternCon#bassCon
        .patternInfo
            .patternLabel= "Bass"
        .patternDisplay

    .patternCon#kickCon
        .patternInfo
            .patternLabel= "Kick"
        .patternDisplay

    .patternCon#snareCon
        .patternInfo
            .patternLabel= "Snare"
        .patternDisplay

    .patternCon#chCon
        .patternInfo
            .patternLabel= "Hihat"
        .patternDisplay

    .patternCon#percCon
        .patternInfo
            .patternLabel= "Perc"
        .patternDisplay

.configPanel.arranger
    .spathe(style="height: 200px")