include header
+header("arranger")

.patternArrangement
    #arrangerPlayHeadCon
        #playHead
    .patternCon
        .patternInfo
            .patternLabel= "Chords"
        .patternDisplay#chordsPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Melody"
        .patternDisplay#meloPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Bass"
        .patternDisplay#bassPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Kick"
        .patternDisplay#kickPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Snare"
        .patternDisplay#snarePattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Hihat"
        .patternDisplay#chPattDisplay

    .patternCon
        .patternInfo
            .patternLabel= "Perc"
        .patternDisplay#percPattDisplay

#playBar.arranger
    #miniPlayHead

.configPanel.arranger
    #timeLine
    #modifyPanel
        input#nameBox(type="text")


script.
  loadArranger();