include header
+header("bassBuilder")

.displayCon
    #display
        +divs
        #bassNoteCon
        #playHead

.configPanel.bass
    .bassControls
        .bassConfigControl
            h3= "Intensity"
            input.slider#intensitySlider(type="range" min="0" max="1" value="0.2" step="0.01" oninput="setIntensity(this.value)")

        .bassConfigControl
            h3= "Energy Ramp"
            input.slider#energyRampSlider(type="range" min="0" max="1" value="0.2" step="0.01" oninput="setEnergyRamp(this.value)")

        .bassConfigControl
            h3= "Jumpiness"
            input.slider#jumpinessSlider(type="range" min="-1" max="1" value="0.25" step="0.01" oninput="setJumpiness(this.value)")

        .bassMetaControls
            .bassConfigControl
                h3= "Type"
                .bassTypeSelect.toggleSelect(onclick="toggleBassType();")
                    .toggleOption.selected= "Guitar"
                    .toggleOption= "808"

            .bassConfigControl
                .bassFlipControl
                    h3= "Flip"
                    #flipCheck.checkbox
                        i.fas.fa-check.checkIcon(onclick="toggleFlip()")

script.
  loadBassBuilder();