extends layout

block content
    div
        script(src = "/javascripts/bufferLoader.js")
        script(src = "/javascripts/audioManager.js")
        script(src = "/javascripts/noteManager.js")
        script(src = "/javascripts/displayElementManager.js")
        script(src = "/javascripts/builder.js")
        #chModel(style="display: none")= chModel
        #kickModel(style="display: none")= kickModel

    .builderPage
        .topBar
            h1.title= title

            .seedCon
                .seedPrefix= "Seed"
                input#seedInput(type="number", step="1", value="000", min="0", max="999", maxlength="3", oninput="seedModel(this);")
                i.fas.fa-dice.icon#randomSeedButton

            .tempoCon
                input#tempoInput(type="number", step="1", value="130", min="1", max="300", maxlength="3" oninput="setTempo(this.value);")
                #bpmSuffix= "bpm"

            p#metronomeButton(onclick="toggleMetronome(this);")= "1234"

            i.fas.fa-play.icon#playButton

        .displayCon
            .labelCon
                .instrumentLabel= "kick"
                .instrumentLabel= "ch"
                .instrumentLabel= "snr"
                .instrumentLabel= "perc"
            #display
                #playHead
                #divDisp
                .instrumentCon
                    .instrumentDisp#kickDisp
                    .instrumentDisp#hihatDisp
                    .instrumentDisp#snareDisp
                    .instrumentDisp#percDisp
                #regionHighlight

            #regionSelect
                .regionSelection(data-bar=0)
                .regionSelection(data-bar=1)
                .regionSelection(data-bar=2)
                .regionSelection(data-bar=3)
                .regionSelection(data-bar=4)
                .regionSelection(data-bar=5)
                .regionSelection(data-bar=6)
                .regionSelection(data-bar=7)

        .configPanel
            .instrumentPanel.kickPanel
                .instrumentInfo
                    h2= "Kick"

                    .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="dragUpload(event, 'kick');", ondragover="dragOverHandler(event);")
                        .uploadText= "Upload"
                        input.fileUpload(onchange="browseUpload('kick', this.files[0], this);", type="file", style="display: none")

                    .regionButton(onclick="toggleRegionControls(this, 'kick');")= "R"

                    .muteSoloSwitch
                        .muteButton(onclick="toggleMute(kick, this);")= "M"
                        .soloButton(onclick="toggleSolo(kick, this);")= "S"

                .instrumentControls
                    h3= "Complexity"
                    input#kickComplexity.slider.configOption(type="range", min="0.001", max="0.999", value="0.5", step="0.001")

                    h3= "Ancestral Influence"
                    input#kickAncestral.slider.configOption(type="range", min="0.001", max="0.999", value="0.5", step="0.001")

            .instrumentPanel.hihatPanel
                .instrumentInfo
                    h2= "Hihat"

                    .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="soundUpload(event, 'ch');", ondragover="dragOverHandler(event);")
                        .uploadText= "Upload"
                        input.fileUpload(onchange="browseUpload('ch', this.files[0], this);", type="file", style="display: none")

                    .regionButton(onclick="toggleRegionControls(this, 'ch');")= "R"

                    .muteSoloSwitch
                        .muteButton(onclick="toggleMute(ch, this);")= "M"
                        .soloButton(onclick="toggleSolo(ch, this);")= "S"

                .instrumentControls
                    h3= "Complexity"
                    input#chComplexity.slider.configOption(type="range", min="0.001", max="0.999", value="0.5", step="0.001")

                    h3= "Ancestral Influence"
                    input#chAncestral.slider.configOption(type="range", min="0.001", max="0.999", value="0.5", step="0.001")

            .instrumentPanel.snarePanel
                .instrumentInfo
                    h2= "Snare"

                    .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="soundUpload(event, 'snr');", ondragover="dragOverHandler(event);")
                        .uploadText= "Upload"
                        input.fileUpload(onchange="browseUpload('snr', this.files[0], this);", type="file", style="display: none")

                    .muteSoloSwitch
                        .muteButton(onclick="toggleMute(snr, this);")= "M"
                        .soloButton(onclick="toggleSolo(snr, this);")= "S"


                .instrumentControls
                    h3= "Pattern"

                    .snareSelect(onclick="toggleSnarePattern(this);")
                        .option.selected= "3"
                        .option= "2 & 4"

            .instrumentPanel.percPanel
                .instrumentInfo
                    h2= "Perc"

                    .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="soundUpload(event, 'perc');", ondragover="dragOverHandler(event);")
                        .uploadText= "Upload"
                        input.fileUpload(onchange="browseUpload('perc', this.files[0], this);", type="file", style="display: none")

                    .muteSoloSwitch
                        .muteButton(onclick="toggleMute(perc, this);")= "M"
                        .soloButton(onclick="toggleSolo(perc, this);")= "S"

                .instrumentControls
                    h3= "Position 1"

                    .barSelectCon
                        .barOption(data-bar= 0, data-perc= 1)= "1"
                        .barOption(data-bar= 1, data-perc= 1)= "2"
                        .barOption(data-bar= 2, data-perc= 1)= "3"
                        .barOption(data-bar= 3, data-perc= 1)= "4"
                        .barOption(data-bar= 4, data-perc= 1)= "5"
                        .barOption(data-bar= 5, data-perc= 1)= "6"
                        .barOption(data-bar= 6, data-perc= 1)= "7"
                        .barOption(data-bar= 7, data-perc= 1)= "8"

                    h3= "Position 2"

                    .barSelectCon
                        .barOption(data-bar= 0, data-perc= 2)= "1"
                        .barOption(data-bar= 1, data-perc= 2)= "2"
                        .barOption(data-bar= 2, data-perc= 2)= "3"
                        .barOption(data-bar= 3, data-perc= 2)= "4"
                        .barOption(data-bar= 4, data-perc= 2)= "5"
                        .barOption(data-bar= 5, data-perc= 2)= "6"
                        .barOption(data-bar= 6, data-perc= 2)= "7"
                        .barOption(data-bar= 7, data-perc= 2)= "8"

