extends layout

block content
    script(src = "/javascripts/bufferLoader.js")
    script(src = "/javascripts/audioManager.js")
    script(src = "/javascripts/noteManager.js")
    script(src = "/javascripts/displayElementManager.js")
    script(src = "/javascripts/builder.js")
    #chModel(style="display: none")= chModel

    audio#chSound(src="ch.wav")
    audio#m1Sound(src="m1.wav")
    audio#m2Sound(src="m2.wav")

    h1(style="float: left")= title

    i.fas.fa-play#playButton

    .tempoCon
        input.tempoInfo#tempoInput(type="number", value="130")
        .bpmSuff= "bpm"

    i.fas.fa-clock.iconOff#metronomeButton(onclick="toggleMetronome(this);")

    br
    br

    .displayCon
        .labelCon
            .instrumentLabel= "ch"
            .instrumentLabel= "snr"
            .instrumentLabel= "kik"
            .instrumentLabel= "perc"
        .display#display
            .playHead#playHead
            .divDisp#divDisp
            .instrumentCon
                .instrumentDisp#hihatDisp
                .instrumentDisp#snareDisp
                .instrumentDisp#kickDisp
                .instrumentDisp#percDisp

    .configPanel
        .instrumentPanel.hihatPanel
            h2= "Hihat"

            h3= "Complexity"
            input#complexity.slider.configOption(type="range", min="0.001", max="1", value="0.5", step="0.001")

            h3= "Ancestral Influence"
            input#ancestral.slider.configOption(type="range", min="0", max="1", value="0.5", step="0.001")

        .instrumentPanel.snarePanel
            h2= "Snare"

            h3= "Pattern"

            select#snarePatternSelect.configOption
                option(value="3")= "on 3"
                option(value="2and4")= "on 2 and 4"

        .instrumentPanel.percPanel
            h2= "Perc"

            h3= "Option 1"

            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")
            input.perc1Bar.configOption(type="checkbox")

            h3= "Option 2"

            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")
            input.perc2Bar.configOption(type="checkbox")