extends layout

block content
    script(src = "/javascripts/bufferLoader.js")
    script(src = "/javascripts/audioManager.js")
    script(src = "/javascripts/noteManager.js")
    script(src = "/javascripts/displayElementManager.js")
    script(src = "/javascripts/builder.js")
    #chModel(style="display: none")= chModel
    #kickModel(style="display: none")= kickModel

    .topBar
        h1.title= title

        .tempoCon
            input.tempoInfo#tempoInput(type="number", value="130", min="1", max="300")
            .bpmSuffix= "bpm"

        p.metIcon#metronomeButton(onclick="toggleMetronome(this);")= "1234"

        i.fas.fa-play.icon#playButton

    .displayCon
        .labelCon
            .instrumentLabel= "kick"
            .instrumentLabel= "snr"
            .instrumentLabel= "ch"
            .instrumentLabel= "perc"
        .display#display
            .playHead#playHead
            .divDisp#divDisp
            .instrumentCon
                .instrumentDisp#kickDisp
                .instrumentDisp#snareDisp
                .instrumentDisp#hihatDisp
                .instrumentDisp#percDisp

    .configPanel
        .instrumentPanel.kickPanel
            h2= "Kick"

            h3= "Complexity"
            input#kickComplexity.slider.configOption(type="range", min="0.001", max="1", value="0.5", step="0.001")

            h3= "Ancestral Influence"
            input#kickAncestral.slider.configOption(type="range", min="0.001", max="1", value="0.5", step="0.001")

            .muteSoloSwitch
                .muteButton(onclick="toggleMute(kick, this);")= "M"
                .soloButton(onclick="toggleSolo(kick, this);")= "S"

        .instrumentPanel.hihatPanel
                h2= "Hihat"

                h3= "Complexity"
                input#chComplexity.slider.configOption(type="range", min="0.001", max="1", value="0.5", step="0.001")

                h3= "Ancestral Influence"
                input#chAncestral.slider.configOption(type="range", min="0.001", max="1", value="0.5", step="0.001")

                .muteSoloSwitch
                    .muteButton(onclick="toggleMute(ch, this);")= "M"
                    .soloButton(onclick="toggleSolo(ch, this);")= "S"

        .instrumentPanel.snarePanel
            h2= "Snare"

            h3= "Pattern"

            .snareSelect(onclick="toggleSnarePattern(this);")
                .option.selected= "3"
                .option= "2 & 4"

            .muteSoloSwitch
                .muteButton(onclick="toggleMute(snr, this);")= "M"
                .soloButton(onclick="toggleSolo(snr, this);")= "S"

        .instrumentPanel.percPanel
            h2= "Perc"

            h3= "Position 1"

            .barSelectCon
                .barOption(onclick="barSelect(0, 1, this);")= "1"
                .barOption(onclick="barSelect(1, 1, this);")= "2"
                .barOption(onclick="barSelect(2, 1, this);")= "3"
                .barOption(onclick="barSelect(3, 1, this);")= "4"
                .barOption(onclick="barSelect(4, 1, this);")= "5"
                .barOption(onclick="barSelect(5, 1, this);")= "6"
                .barOption(onclick="barSelect(6, 1, this);")= "7"
                .barOption(onclick="barSelect(7, 1, this);")= "8"

            h3= "Position 2"

            .barSelectCon
                .barOption(onclick="barSelect(0, 2, this);")= "1"
                .barOption(onclick="barSelect(1, 2, this);")= "2"
                .barOption(onclick="barSelect(2, 2, this);")= "3"
                .barOption(onclick="barSelect(3, 2, this);")= "4"
                .barOption(onclick="barSelect(4, 2, this);")= "5"
                .barOption(onclick="barSelect(5, 2, this);")= "6"
                .barOption(onclick="barSelect(6, 2, this);")= "7"
                .barOption(onclick="barSelect(7, 2, this);")= "8"


                .muteSoloSwitch
                    .muteButton(onclick="toggleMute(perc, this);")= "M"
                    .soloButton(onclick="toggleSolo(perc, this);")= "S"