extends layout

block content
    +header("drumBuilder")

    div(style = "display: none;")
        script(src = "/javascripts/drumBuilder/drumBuilder.js")

    .drumDisplayCon
        .labelCon
            .instrumentLabel= "kick"
            .instrumentLabel= "ch"
            .instrumentLabel= "snr"
            .instrumentLabel= "perc"
        #display
            #playHead
            #divDisp
            .instrumentCon
                .instrumentDisp#kickDisp
                .instrumentDisp#chDisp
                .instrumentDisp#snareDisp
                .instrumentDisp#percDisp

    .drumConfigPanel
        .instrumentPanel.kickPanel
            .instrumentInfo
                h2= "Kick"

                .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="dragUpload(event, 'kick');", ondragover="dragOverHandler(event);")
                    .uploadText= "Upload"
                    input.fileUpload(onchange="browseUpload('kick', this.files[0], this);", type="file", style="display: none")

                .muteSoloSwitch
                    .muteButton(data-inst="kick" onclick="toggleMute('kick');")= "M"
                    .soloButton(data-inst="kick" onclick="toggleSolo('kick',);")= "S"

            .instrumentControls
                h3= "Cohesion"
                input#kickCohesion.slider(type="range", min="4", max="7", value="2", step="1", oninput="ShowNotes('kick');")

                h3= "Spontaneity"
                input#kickSpontaneity.slider(type="range", min="0", max="1", value="0.5", step="0.01", oninput="ShowNotes('kick');")

                h3= "Quirk"
                input#kickQuirk.slider(type="range", min="0", max="1", value="0.5", step="0.01", oninput="ShowNotes('kick');")

                h3= "Complexity"
                input#kickComplexity.slider(type="range", min="0", max="1", value="0.5", step="0.01", oninput="ShowNotes('kick');")

        .instrumentPanel.hihatPanel
            .instrumentInfo
                h2= "Hihat"

                .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="soundUpload(event, 'ch');", ondragover="dragOverHandler(event);")
                    .uploadText= "Upload"
                    input.fileUpload(onchange="browseUpload('ch', this.files[0], this);", type="file", style="display: none")

                .muteSoloSwitch
                    .muteButton(data-inst="ch" onclick="toggleMute('ch');")= "M"
                    .soloButton(data-inst="ch" onclick="toggleSolo('ch');")= "S"

            .instrumentControls
                h3= "Cohesion"
                input#chCohesion.slider(type="range", min="3", max="6", value="2", step="1", oninput="ShowNotes('ch');")

                h3= "Spontaneity"
                input#chSpontaneity.slider(type="range", min="0", max="1", value="0.5", step="0.01", oninput="ShowNotes('ch');")

                h3= "Quirk"
                input#chQuirk.slider(type="range", min="0", max="0.95", value="0.5", step="0.01", oninput="ShowNotes('ch');")

                h3= "Complexity"
                input#chComplexity.slider(type="range", min="0", max="0.95", value="0.5", step="0.01", oninput="ShowNotes('ch');")

        .instrumentPanel.snarePanel
            .instrumentInfo
                h2= "Snare"

                .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="soundUpload(event, 'snr');", ondragover="dragOverHandler(event);")
                    .uploadText= "Upload"
                    input.fileUpload(onchange="browseUpload('snr', this.files[0], this);", type="file", style="display: none")

                .muteSoloSwitch
                    .muteButton(data-inst="snare" onclick="toggleMute('snare');")= "M"
                    .soloButton(data-inst="snare" onclick="toggleSolo('snare');")= "S"


            .instrumentControls
                h3= "Pattern"

                .snareSelect(onclick="toggleSnarePattern();")
                    .snrOption= "3"
                    .snrOption= "2 & 4"

        .instrumentPanel.percPanel
            .instrumentInfo
                h2= "Perc"

                .soundUpload(onclick="this.getElementsByClassName('fileUpload')[0].click();", ondrop="soundUpload(event, 'perc');", ondragover="dragOverHandler(event);")
                    .uploadText= "Upload"
                    input.fileUpload(onchange="browseUpload('perc', this.files[0], this);", type="file", style="display: none")

                .muteSoloSwitch
                    .muteButton(data-inst="perc" onclick="toggleMute('perc', this);")= "M"
                    .soloButton(data-inst="perc" onclick="toggleSolo('perc', this);")= "S"

            .instrumentControls.perc

                .percOptions
                    .vertHeadWrapper
                        h3.vert= "Position 1"
                    .vertSliderWrapper
                        input.slider.vert#per1pos(type="range", min="0", max="30", value="2", step="2", oninput="ShowNotes('perc');")
                    .barSelectCon
                        .barOption(data-bar= 0, data-perc = 1)= "1"
                        .barOption(data-bar= 1, data-perc= 1)= "2"
                        .barOption(data-bar= 2, data-perc= 1)= "3"
                        .barOption(data-bar= 3, data-perc= 1)= "4"
                        .barOption(data-bar= 4, data-perc= 1)= "5"
                        .barOption(data-bar= 5, data-perc= 1)= "6"
                        .barOption(data-bar= 6, data-perc= 1)= "7"
                        .barOption(data-bar= 7, data-perc= 1)= "8"


                .percOptions
                    .vertHeadWrapper
                        h3.vert= "Position 2"
                    .vertSliderWrapper
                        input.slider.vert#per2pos(type="range", min="0", max="30", value="14", step="2", oninput="ShowNotes(perc);")
                    .barSelectCon
                        .barOption(data-bar= 0, data-perc= 2)= "1"
                        .barOption(data-bar= 1, data-perc= 2)= "2"
                        .barOption(data-bar= 2, data-perc= 2)= "3"
                        .barOption(data-bar= 3, data-perc= 2)= "4"
                        .barOption(data-bar= 4, data-perc= 2)= "5"
                        .barOption(data-bar= 5, data-perc= 2)= "6"
                        .barOption(data-bar= 6, data-perc= 2)= "7"
                        .barOption(data-bar= 7, data-perc= 2)= "8"

