mixin header(page)
    script(src = "/javascripts/constructor/bufferLoader.js")
    script(src = "/javascripts/constructor/audioManager.js")
    script(src = "/javascripts/drumBuilder/drumNoteManager.js")
    script(src = "/javascripts/chordBuilder/chordNoteManager.js")
    script(src = "/javascripts/constructor/playManager.js")
    script(src = "/javascripts/constructor/displayElementManager.js")
    script(src = "/javascripts/header.js")

    script.
      curPage = "#{page}";

    .topBar
        .locBar
            h1.title= "Midi Ting Fi Real"

            if page === "drumBuilder"
                a(href="/constructor")
                    i.fas.fa-drum.icon#leaveInstrument(onmouseover="toggleLeaveInstrumentIcon();", onmouseleave="toggleLeaveInstrumentIcon();")

            else if page === "chordBuilder"
                a(href="/constructor")
                    i.fas.fa-music.icon#leaveInstrument(onmouseover="toggleLeaveInstrumentIcon();", onmouseleave="toggleLeaveInstrumentIcon();")

        .toolBar
            if page === "drumBuilder"
                i.fas.fa-clone.icon.cloneOn#drumCloneButton(onclick="toggleDrumClone()")
                #seedCon
                    .prefix= "Seed"
                    input.inputBox#seedInput(type="number", step="1", value="000", min="0", max="999", maxlength="3", oninput="seedModel();")
                    i.fas.fa-dice.icon#randomSeedButton
            else if page === "chordBuilder"
                #keyNoteCon
                    .prefix= "Key"
                    .inputBox#keyInput(onclick="changeKey()")= 1

                #keyTypeCon(onclick="toggleKeyType();")
                    .keyType= "+"
                    .keyType.selected= "-"

            #tempoCon
                input.inputBox#tempoInput(type="number", step = "1", value = "130", min = "1", max = "300", maxlength = "3" oninput="setTempo(this.value);")
                #bpmSuffix= "bpm"

                p#metronomeButton(onclick="toggleMetronome(this);")= "1234"

            i.fas.fa-play.icon#playButton