mixin barDiv
    .barDiv
        .division
        .division(style="opacity: 0.3; left: 25%")
        .division(style="opacity: 0.3; left: 50%")
        .division(style="opacity: 0.3; left: 75%")

mixin divs
    #divDisp
        +barDiv
        +barDiv
        +barDiv
        +barDiv
        +barDiv
        +barDiv
        +barDiv
        +barDiv


mixin header(page)

    script.
      curPage = "#{page}";

    .topBar
        .locBar
            h1.title= "Midi Ting Fi Real"

            if page === "drumBuilder"
                a(href="/constructor" data-link)
                    i.fas.fa-drum.icon#pageChange(onmouseover="togglePageChangeIcon();", onmouseleave="togglePageChangeIcon();")

            else if page === "chordBuilder"
                a(href="/constructor" data-link)
                    i.fas.fa-music.icon#pageChange(onmouseover="togglePageChangeIcon();", onmouseleave="togglePageChangeIcon();")

            else if page === "bassBuilder"
                a(href="/constructor" data-link)
                    i.fas.fa-guitar.icon#pageChange(onmouseover="togglePageChangeIcon();", onmouseleave="togglePageChangeIcon();")

            else if page === "meloBuilder"
                a(href="/constructor" data-link)
                    i.fas.fa-bolt.icon#pageChange(onmouseover="togglePageChangeIcon();", onmouseleave="togglePageChangeIcon();")

            else if page === "constructor"
                a(href="/arranger" data-link)
                    i.fas.fa-layer-group.icon#pageChange

            else if page === "arranger"
                a(href="/constructor" data-link)
                    i.fas.fa-pencil-alt.icon#pageChange

        .toolBar
            if page === "drumBuilder"
                i.fas.fa-clone.icon.cloneOn#drumCloneButton(onclick="toggleDrumClone()")
                #seedCon
                    .prefix= "Seed"
                    input.inputBox#seedInput(type="number", step="1", value="000", min="0", max="999", maxlength="3", oninput="seedModel();")
                    i.fas.fa-dice.icon#randomSeedButton
            else if page === "chordBuilder"
                #keyNoteCon
                    .prefix= "Key"
                    .inputBox#keyInput(onclick="changeKey()")= 1

                #keyTypeCon(onclick="toggleKeyType();")
                    .keyType= "+"
                    .keyType.selected= "-"

            #tempoCon
                input.inputBox#tempoInput(type="number", step = "1", value = "130", min = "1", max = "300", maxlength = "3" oninput="setTempo(this.value);")
                #bpmSuffix= "bpm"

                p#metronomeButton(onclick="toggleMetronome(this);")= "1234"

            i.fas.fa-play.icon#playButton

    script.
      loadHeader();